*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.go-to-top{
  position:fixed;
  right:20px;
  bottom:50px;
  
}
li{
  list-style: none;
}
.hidden{
 display:none;
}
.show{
  display:block;
  opacity:1;background: white;
}
.show-sticky{
  position:fixed;
  top:0;
  width:100%;
  background-color: aliceblue;
  display:flex;
  justify-content: space-around;
  
  
}
.sticky-icon {
 justify-content: end;
}
svg{
 font-size: 2rem;
}

header nav {
  border: 2px solid transparent;
  border-top-left-radius: 2rem;
  width:100%;
  height:150px;
  background-color: #d6932c;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6rem;

}
header nav  {
  display:flex;
 ;
  
}
header nav ul {
  display: flex;
  gap:2rem;
}
button{
  border:none;
  text-decoration: none;

}

a{
  text-decoration: none;
  
}
img{
  height:1.5rem;

}
.sidebar{
  position:fixed;
  top:0;
  right:0; 

  
}
@media screen and (max-width:1072px) {
  header ul li{
    display:none;
  }
}