*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

main{
  font-family: Inter,sans-serif;
  background: color #f4f4f4;
  color: rgba(0,0,0,.85);
  z-index: -1;
}
.go-to-top{
  position:fixed;
  right:20px;
  bottom:50px;
  
}
li{
  list-style: none;
}
.hidden{
 display:none;
}
.show{
  display:block;
  opacity:1;background: white;
}
.show-sticky{
  position:fixed;
  top:0;
  width:100%;
  background-color: aliceblue;
  display:flex;
  justify-content: space-around;
  z-index: 1;
  
  
}

svg{
 font-size: 2rem;
 border: 2px solid transparent;
 border-radius: 100%;
 background: white;
 box-shadow: 2px 2px 2px grey;
 

 
}
.show-sticky svg {
  background: #000;
  color:aliceblue;
 }

header nav {
  border: 2px solid transparent;
  border-top-left-radius: 2rem;
  width:100%;
  height:150px;
  background-color: #d6932c;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 6rem;
  position:relative;
 

}
header nav  {
  display:flex;
 
  
}
h2{
  font-size: 4.2rem;
  color:white;
}
.nav-img{
  color:white;
}
header nav ul {
  display: flex;
  gap:2rem;
}
header nav button{
  background:#d6932c ;
}
button{
  border:none;
  text-decoration: none;


}
svg:hover{
  font-size: 2.1rem;
}


a{
  text-decoration: none;
  color:#000;
  
}
img{
  height:1.5rem;

}
.sidebar-hidden{
  transform: translateX(100%);

}
.sidebar{
  height:100vh;
  position:fixed;
  top:0;
  right:0; 
  opacity:1;
  z-index: 1;
  padding:5rem;
  transition: all ease-in-out .3s;

  
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  font-weight: 700;
}

.sidebar>div{
  display:flex;
  gap:1.5rem;
}
.close-icon svg{
  border:2px solid #3a3632;
 
}
.close-icon svg:hover{
  background:#3a3632;
  color:white;
  box-shadow: none;

}
.sidebar-social a{
  border-style: none;
}
.sidebar-social a svg{
  
  border:2px solid transparent;
  border-radius:0px;
  
}


.blog-content{
  width:75vw;
  margin:34px auto;
  background-color: white;
  border:2px solid transparent;
  border-radius: 2rem;
  box-shadow: 2px 2px 2px #f4f4f4;
 
}
/*footer*/
.footer-break{
  height:.25rem;
  background-color: #2c7fbf;
}
.footer-social svg{
  border:2px solid transparent;
  border-radius: 0;
}
.footer-container{
  display:flex;
  gap:2rem;
  justify-content: center;
 
}
.footer-container-display-flex{
  display:flex;
  flex-direction: column;
  gap:2rem;
  padding: 2rem;
}
.footer-social{
  padding: 2rem;
}
.footer-social a{
  padding:1rem;
  margin-top: 1rem;
 
}
.footer-social h3{
  height:3rem;
}

@media screen and (max-width:1072px) {
  header ul li{
    display:none;
  }
}
